<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <h1>Add new Category</h1>
    <!---Send POST to the address in 'action' field-->
    <form id="category_form" method="POST" action="/rango/add_category/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{  hidden  }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
    <input type="submit" name="submit" value="Create Category" />
    <!--Type of control that is created; value=text on control-->
    </form>
{% endblock %}
</html>