<!DOCTYPE html>

<html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Rango says...hello world! {{ user.username }}</h1>
    {% else %}
    <h1>Rango says...hello world!</h1>
    {% endif %}

        <h1>Hot Categories</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h1>Hot Pages</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{  page.url }}">{{ page.title }}</a> </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No page to show.</strong>
        {% endif %}
    <img src="{% static "images/minion.png" %}" alt="Picture" />

{% endblock %}
</html>